.flex-container1{
    width:450px;
    height:80px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flex-container2{
    width:450px;
    height:90px;

    display: flex;
    justify-content: center;
    align-items: center;   
}
.flex-container3{
    width:450px;
    height:90px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.box{
    width: 80px;
    height: 80px;
    border-radius: 5px;
    background-color: lightpink;
    margin: 2px;
}
